<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="download.comagic.com.rxjava_retorfit_download">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:name=".MyApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<receiver android:name=".AppInstallReceiver" android:enabled="true" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.PACKAGE_ADDED"></action>-->
                <!--&lt;!&ndash; <action android:name="android.intent.action.PACKAGE_CHANGED"></action>&ndash;&gt;-->
                <!--<action android:name="android.intent.action.PACKAGE_REMOVED"></action>-->
                <!--<action android:name="android.intent.action.PACKAGE_REPLACED"></action>-->
                <!--&lt;!&ndash; <action android:name="android.intent.action.PACKAGE_RESTARTED"></action>&ndash;&gt;-->
                <!--&lt;!&ndash;  <action android:name="android.intent.action.PACKAGE_INSTALL"></action>&ndash;&gt;-->
                <!--<data android:scheme="package"></data>-->
            <!--</intent-filter>-->
        <!--</receiver>-->


    </application>

</manifest>